<div class="max-w-7xl mx-auto">
  <h1>{{ title }}</h1>

  @if (selected) {
    <app-pizza [selected]="selected" (canceled)="onCancel($event)"></app-pizza>
  }

  <ul class="flex gap-8">
    @for (pizza of pizzas; track pizza.id) {
      <li (click)="onSelect(pizza)" class="border border-transparent cursor-pointer" [ngClass]="{
        '!border-gray-900 rounded-lg': selected && pizza.id === selected.id,
      }">
        <img [src]="pizza.image" [alt]="pizza.name" [class.rounded-t-lg]="selected && pizza.id === selected.id" />
        <h2 class="text-xl text-center py-2">{{ pizza.id }}: {{ pizza.name }}</h2>
      </li>
    }
  </ul>

  <ul class="pizzas">
    <ng-container *ngFor="let pizza of pizzas">
      <li *ngIf="true">
        {{ pizza.name }}
      </li>
    </ng-container>
  </ul>

  <app-counter (changed)="total += $event"></app-counter>
  <app-counter [value]="10" (changed)="total += $event"></app-counter>
  <app-counter (changed)="total += $event"></app-counter>
  <app-counter [value]="15" (changed)="total += $event"></app-counter>
  <app-counter [value]="35" (changed)="total += $event"></app-counter>

  <p>Total: {{ total }}</p>

  <ul>
    <li *ngFor="let message of messages; index as i">
      <h3>{{ message.message }} ({{ message.type }})</h3>
      <button (click)="deleteMessage(i)">X</button>
    </li>
  </ul>

  <app-author [author]="user" />
</div>
