<div class="max-w-7xl mx-auto">
  <h1>{{ title }}</h1>

  @if (selected) {
    <h2 [title]="selected.name">{{ selected.name }}</h2>
    <p>Prix: {{ selected.price }}</p>
    <img [src]="selected.image" [alt]="selected.name" />
    <input [(ngModel)]="selected.name" placeholder="Nom">
    <input [value]="selected.name" (input)="selected.name = $any($event.target).value">
  }

  <ul class="flex gap-8">
    @for (pizza of pizzas; track pizza.id) {
      <li (click)="onSelect(pizza)" class="border border-transparent cursor-pointer" [ngClass]="{
        '!border-gray-900 rounded-lg': selected && pizza.id === selected.id,
      }">
        <img [src]="pizza.image" [alt]="pizza.name" [class.rounded-t-lg]="selected && pizza.id === selected.id" />
        <h2 class="text-xl text-center py-2">{{ pizza.id }}: {{ pizza.name }}</h2>
      </li>
    }
  </ul>

  <ul class="pizzas">
    <ng-container *ngFor="let pizza of pizzas">
      <li *ngIf="true">
        {{ pizza.name }}
      </li>
    </ng-container>
  </ul>
</div>
